#fancy_overlay * { margin: 0; padding: 0; line-height: 100%;}
div#fancy_overlay { position:absolute; top: 0; left: 0; z-index: 90; width: 100%; background-color: #333;}

div#fancy_loading { position: absolute; height: 40px; width: 40px; cursor: pointer; display: none; overflow: hidden; background: transparent; z-index: 100;}
div#fancy_loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background: transparent url(img/css/fancybox/fancy_progress.png) no-repeat;}

div#fancy_close { position: absolute; top: -12px; right: -12px; height: 30px; width: 30px; background: transparent url(img/css/fancybox/fancy_closebox.png) ; cursor: pointer; z-index: 100; display: none;}

div#fancy_content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0;  margin: 0; z-index: 96;}
#fancy_frame { position: relative; width: 100%; height: 100%; display: none;}
img#fancy_img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;  padding: 0;  margin: 0; z-index: 92;}

div#fancy_title { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 100; display: none;}

div#fancy_title .fancy_dialog { margin: 0 auto; max-width:500px; /* based on image dimensions - not quite consistent with drip styles yet */ color:#fff; z-index:1; margin-left:14px; /* default, width of left corner */ margin-bottom:0; /* spacing under dialog */}
div#fancy_title .fancy_dialog .fancy_content, div#fancy_title .fancy_dialog .fancy_t, div#fancy_title .fancy_dialog .fancy_b, div#fancy_title .fancy_dialog .fancy_b div { background:transparent url(http://localhost/~joel/libraries/js/jquery/plugins/fancybox_jufemaiz/fancybox/img/fancy-title.png) no-repeat top right; _background-image:url(http://localhost/~joel/libraries/js/jquery/plugins/fancybox_jufemaiz/fancybox/img/fancy-title.gif);}
div#fancy_title .fancy_dialog .fancy_content { position:relative; zoom:1; _overflow-y:hidden; padding:0px 14px 0px 0px;}
div#fancy_title .fancy_dialog .fancy_t { /* top+left vertical slice */ position:absolute; left:0px; top:0px; width:14px; /* top slice width */ margin-left:-14px; height:100%; _height:1600px; /* arbitrary long height, IE 6 */ background-position:top left;}
div#fancy_title .fancy_dialog .fancy_b { /* bottom */ position:relative; width:100%;}
div#fancy_title .fancy_dialog .fancy_b, div#fancy_title .fancy_dialog .fancy_b div { height:16px; /* height of bottom cap/shade */ font-size:1px;}
div#fancy_title .fancy_dialog .fancy_b { background-position:bottom right;}
div#fancy_title .fancy_dialog .fancy_b div { position:relative; width:14px; /* bottom corner width */ margin-left:-14px; background-position:bottom left;}
div#fancy_title .fancy_dialog .fancy_hd, div#fancy_title .fancy_dialog .fancy_bd, div#fancy_title .fancy_dialog .fancy_ft { position:relative;}
div#fancy_title .fancy_dialog .fancy_wrapper { /* extra content protector - preventing vertical overflow (past background) */ position:static; max-height:1000px; overflow:auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */}
div#fancy_title .fancy_dialog .fancy_content {padding: 10px 0 0 0; line-height: 100%;}
div#fancy_title .fancy_dialog .fancy_content .fancy_copy { display: inline; color: #fff; font: bold 12px Arial; padding-bottom: 2px; margin:0px;}

div#fancy_outer { position: absolute;    top: 0;    left: 0;    z-index: 90;    padding: 18px 18px 118px 18px;    margin: 0;    overflow: hidden;    background: transparent;    display: none;}
div#fancy_inner { position: relative; width:100%; height:100%; border: 1px solid #444; background: #FFF;}

a#fancy_left, a#fancy_right { position: absolute;  bottom: 10px;  height: 100%;  width: 35%;  cursor: pointer; background-image: url(img/css/fancybox/data:image/gif;base64,AAAA); z-index: 100; }
a#fancy_left { left: 0px; }
a#fancy_right { right: 0px; }
a#fancy_left:hover { background: transparent url(img/css/fancybox/fancy_left.gif) no-repeat 0% 100%;}
a#fancy_right:hover { background: transparent url(img/css/fancybox/fancy_right.gif) no-repeat 100% 100%;}

#fancy_bigIframe, #fancy_freeIframe { position:absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;}

div#fancy_bg { display: none;} 
div.fancy_bg { position: absolute; display: block; z-index: 70;}
div.fancy_bg_n { top: -18px; width: 100%; height: 18px; background: transparent url(img/css/fancybox/fancy_shadow_n.png) repeat-x;}
div.fancy_bg_ne { top: -18px; right: -13px; width: 13px; height: 18px; background: transparent url(img/css/fancybox/fancy_shadow_ne.png) no-repeat;}
div.fancy_bg_e { right: -13px; height: 100%; width: 13px; background: transparent url(img/css/fancybox/fancy_shadow_e.png) repeat-y;}
div.fancy_bg_se { bottom: -18px; right: -13px; width: 13px; height: 18px; background: transparent url(img/css/fancybox/fancy_shadow_se.png) no-repeat;}
div.fancy_bg_s { bottom: -18px; width: 100%; height: 18px; background: transparent url(img/css/fancybox/fancy_shadow_s.png) repeat-x;}
div.fancy_bg_sw { bottom: -18px; left: -13px; width: 13px; height: 18px; background: transparent url(img/css/fancybox/fancy_shadow_sw.png) no-repeat;}
div.fancy_bg_w { left: -13px; height: 100%; width: 13px; background: transparent url(img/css/fancybox/fancy_shadow_w.png) repeat-y;}
div.fancy_bg_nw { top: -18px; left: -13px; width: 13px; height: 18px; background: transparent url(img/css/fancybox/fancy_shadow_nw.png) no-repeat;}